<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= page.type %></title>
    <%- include('./partials/header.ejs') %>
</head>
<body>

    <%- include('./partials/navbar.ejs')%>

    <div class='wrapper'>

        <div class='postwall'>

            <div class='postlist'>
                <% for(i=0; i < post.length; i++ ) { %>
                    <%- include('./partials/postbox', {i, post, sess, votepost} ) %>
                <% } %>

            </div>
            
        </div>
    
    
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>